@import "tailwindcss";

:root {
  --primary: #2563EB;
  --secondary: #0F172A;
  --accent: #06B6D4;
  --background: #F8FAFC;
  --text: #1E293B;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

